### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# Calculate the various elemnts required for the dataframe

school_count = school_data['School ID'].count()
student_count = student_data['Student ID'].count()
total_budget = school_data["budget"].sum()
maths_avg = student_data["maths_score"].mean()
read_avg = student_data["reading_score"].mean()
maths_passperc = student_data[student_data["maths_score"] >= 50]["maths_score"].count()/student_count
read_passperc = student_data[student_data["reading_score"] >= 50]["reading_score"].count()/student_count
overall_passperc= student_data[(student_data["maths_score"] >= 50) & (student_data["reading_score"] >= 50)]["Student ID"].count()/student_count

# Create a dataframe to hold the above results
areasummary = pd.DataFrame({"Total Schools": [school_count],
                            "Total Students": [student_count],
                            "Total Budget":[total_budget],
                            "Average Maths Score":[maths_avg],
                            "Average Reading Score":[read_avg],
                            "% Passing Maths":[maths_passperc],
                            "% Passing Reading":[read_passperc],
                            "% Overall Passing":[overall_passperc]})

# Optional: give the displayed data cleaner formatting
areasummary.style.format({"Total Students": "{:,.0f}",
                        "Total Budget": "${:,.0f}",
                       "Average Maths Score": "{:.2f}",
                       "Average Reading Score": "{:.2f}", 
                       "% Passing Maths": "{:.2%}", 
                       "% Passing Reading": "{:.2%}", 
                       "% Overall Passing": "{:.2%}"})

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
# create groups of data per school
group_by_school = school_data_complete.set_index('school_name').groupby(['school_name'])

# Column Headings required (grouped by School) are:
# School Type	Total Students	Total School Budget	Per Student Budget	Average Maths Score	
# Average Reading Score	% Passing Maths	% Passing Reading	% Overall Passing

# The calculations of each column are:
school_types = school_data.set_index('school_name')['type']
students_ps=group_by_school["Student ID"].count()
budget_pschool=school_data.set_index('school_name')['budget']
budget_pstudent=budget_pschool/students_ps
maths_avg_pschool =group_by_school["maths_score"].mean()
reading_avg_pschool =group_by_school["reading_score"].mean()

# use complete sets as grouped by does not allow >
pass_maths_ps = school_data_complete[school_data_complete["maths_score"] >= 50]
pass_maths_ps = pass_maths_ps.groupby("school_name")["Student ID"].count()
pass_maths_perc_pschool = pass_maths_ps/students_ps

pass_reading_ps=school_data_complete[school_data_complete["reading_score"] >= 50]
pass_reading_ps = pass_reading_ps.groupby("school_name")["Student ID"].count()
pass_reading_perc_pschool=pass_reading_ps/students_ps

overall_pass_total_ps = student_data[(student_data['reading_score']>=50) & (student_data['maths_score']>=50)]
overall_pass_total_ps = overall_pass_total_ps.groupby("school_name")["Student ID"].count()
overall_pass_total_ps_perc=overall_pass_total_ps/students_ps

# create school_summary dataframe
school_summary = pd.DataFrame({"School Type": school_types,
                            "Total Students": students_ps,
                            "Per Student Budget": budget_pstudent,
                            "Total School Budget": budget_pschool,
                            "Average Maths Score": maths_avg_pschool,
                            "Average Reading Score": reading_avg_pschool,
                            '% Passing Maths': pass_maths_perc_pschool,
                            '% Passing Reading': pass_reading_perc_pschool,
                            "% Overall Passing": overall_pass_total_ps_perc})
school_summary

# clean format of dataframe output
school_summary.style.format({"Total Students": "{:,.0f}",
                        "Total School Budget": "${:,.0f}",
                        "Per Student Budget": "${:,.0f}",
                       "Average Maths Score": "{:.2f}",
                       "Average Reading Score": "{:.2f}",
                       "% Passing Maths": "{:.2%}", 
                       "% Passing Reading": "{:.2%}", 
                       "% Overall Passing": "{:.2%}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
bottom_schools = school_summary.sort_values(by='% Overall Passing', ascending=True).head(5)

bottom_schools.style.format({"Total Students": "{:,.0f}",
                        "Total School Budget": "${:,.0f}",
                        "Per Student Budget": "${:,.0f}",
                       "Average Maths Score": "{:.2f}",
                       "Average Reading Score": "{:.2f}",
                       "% Passing Maths": "{:.2%}", 
                       "% Passing Reading": "{:.2%}", 
                       "% Overall Passing": "{:.2%}"})

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [8]:
# define the datasets for the various years
year_9= school_data_complete[(school_data_complete["year"] == 9)]
year_10 = school_data_complete[(school_data_complete["year"] == 10)]
year_11 = school_data_complete[(school_data_complete["year"] == 11)]
year_12 = school_data_complete[(school_data_complete["year"] == 12)]

# calculate the average maths scores per year
year_9_grp_avg_math = year_9.groupby(['school_name'])['maths_score'].mean()
year_10_grp_avg_math = year_10.groupby(['school_name'])['maths_score'].mean()
year_11_grp_avg_math = year_11.groupby(['school_name'])['maths_score'].mean()
year_12_grp_avg_math = year_12.groupby(['school_name'])['maths_score'].mean()

# create dataframe 
maths_by_year =pd.DataFrame({"Year 9": year_9_grp_avg_math, 
                            "Year 10": year_10_grp_avg_math,
                            "Year 11": year_11_grp_avg_math,
                            "Year 12": year_12_grp_avg_math})

# clean format dataframe
maths_by_year.style.format({"Year 9": "{:,.2f}",
                        "Year 10": "{:,.2f}",
                        "Year 11": "{:,.2f}",
                        "Year 12": "{:.2f}",})

## Reading Score by Year

* Perform the same operations as above for reading scores

In [9]:
# use the datasets for the various years from previous maths score by year

# calculate the average maths scores per year
year_9_grp_avg_reading = year_9.groupby(['school_name'])['reading_score'].mean()
year_10_grp_avg_reading = year_10.groupby(['school_name'])['reading_score'].mean()
year_11_grp_avg_reading = year_11.groupby(['school_name'])['reading_score'].mean()
year_12_grp_avg_reading = year_12.groupby(['school_name'])['reading_score'].mean()

# create dataframe 
reading_by_year =pd.DataFrame({"Year 9": year_9_grp_avg_reading, 
                            "Year 10": year_10_grp_avg_reading,
                            "Year 11": year_11_grp_avg_reading,
                            "Year 12": year_12_grp_avg_reading})

# clean format dataframe
reading_by_year.style.format({"Year 9": "{:,.2f}",
                        "Year 10": "{:,.2f}",
                        "Year 11": "{:,.2f}",
                        "Year 12": "{:.2f}",})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [10]:
spending_summary=school_summary.copy()
spending_bins=[0,585,630,645,680]
labels=["< $585","$585-630","$630-645", "$645-680"]
spending_summary["Spending Ranges (Per Student)"]=pd.cut(spending_summary['Per Student Budget'], spending_bins, labels=labels)

spending_maths_scores = spending_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = spending_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = spending_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = spending_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = spending_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

spending_summary = pd.DataFrame({"Average Maths Score": spending_maths_scores, "Average Reading Score": spending_reading_scores,
                                	"% Passing Maths": spending_passing_maths,"% Passing Reading": spending_passing_reading, 
                                    "% Overall Passing": overall_passing_spending})

spending_summary.style.format({"Average Maths Score": "{:.2f}",
                       "Average Reading Score": "{:.2f}",
                       "% Passing Maths": "{:.2%}", 
                       "% Passing Reading": "{:.2%}", 
                       "% Overall Passing": "{:.2%}"})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
size_summary=school_summary.copy()
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

size_summary["School Size"]=pd.cut(size_summary['Total Students'], size_bins, labels=labels)

spending_maths_scores = size_summary.groupby(["School Size"]).mean()["Average Maths Score"]
spending_reading_scores = size_summary.groupby(["School Size"]).mean()["Average Reading Score"]
spending_passing_maths = size_summary.groupby(["School Size"]).mean()["% Passing Maths"]
spending_passing_reading = size_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_spending = size_summary.groupby(["School Size"]).mean()["% Overall Passing"]

size_summary = pd.DataFrame({"Average Maths Score": spending_maths_scores, "Average Reading Score": spending_reading_scores,
                                	"% Passing Maths": spending_passing_maths,"% Passing Reading": spending_passing_reading, 
                                    "% Overall Passing": overall_passing_spending})

size_summary.style.format({"Average Maths Score": "{:.2f}",
                       "Average Reading Score": "{:.2f}",
                       "% Passing Maths": "{:.2%}", 
                       "% Passing Reading": "{:.2%}", 
                       "% Overall Passing": "{:.2%}"})

## Scores by School Type

* Perform the same operations as above, based on school type

In [12]:

# calculate elemnts for dataframe
maths_score_pt=school_summary.groupby(['School Type']).mean()['Average Maths Score']
reading_score_pt=school_summary.groupby(['School Type']).mean()['Average Maths Score']
maths_pass_perc_pt=school_summary.groupby(['School Type']).mean()['% Passing Maths']
reading_pass_perc_pt=school_summary.groupby(['School Type']).mean()['% Passing Reading']
Overall_pass_perc_pt=school_summary.groupby(['School Type']).mean()['% Overall Passing']

# create dataframe
schooltype_summary= pd.DataFrame({"Average Maths Score": maths_score_pt, "Average Reading Score": reading_score_pt,
                                	"% Passing Maths": maths_pass_perc_pt,"% Passing Reading": reading_pass_perc_pt, 
                                    "% Overall Passing": Overall_pass_perc_pt})

# clean format of dataframe
schooltype_summary.style.format({"Average Maths Score": "{:.2f}",
                       "Average Reading Score": "{:.2f}",
                       "% Passing Maths": "{:.2%}", 
                       "% Passing Reading": "{:.2%}", 
                       "% Overall Passing": "{:.2%}"})